/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f3f4;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signin-box {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    width: 360px;
    text-align: center;
}

.logo {
    width: 90px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #5f6368;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-group input:focus+label,
.input-group input:valid+label {
    top: -8px;
    left: 8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #1a73e8;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

.forgot a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create {
    font-size: 14px;
    text-decoration: none;
    color: #1a73e8;
}

.create:hover {
    text-decoration: underline;
}

button {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #1669c1;
}